
<h1>Should I take an umbrella?</h1>

<dl>
  <dt>User's location</dt>
  <dd><%= @user_location %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>

  <dt>Current temperature</dt>
  <dd><%= @temperature %></dd>

  <dt>Current summary</dt>
  <dd><%= @summary %></dd>

  <dt>Umbrella?</dt>
  <dd>
    <% if @any_precipitation == true %>
      <%= You might want to take an umbrella! %>
    <% else %>
      <%= You probably wont need an umbrella. %>
    <% end %>
  </dd>
 
  
</dl>

<a href="/umbrella">Go back</a>
